doctype html
html
  head
    title inXile
    //script(type="text/javascript" src="/javascripts/cocos2d-js-v3.10.js" charset="UTF-8")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/nav.css")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/phaser/2.0.6/phaser.min.js")
    script(type="text/javascript" src="https://s3.amazonaws.com/easystar/easystar-0.1.8.min.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(type="text/javascript" src="js/Enemy.class.js")
    script(type="text/javascript" src="js/Tower.class.js")
  body
    div(id="wrapper")
      div(id="sidebar-wrapper")
        ul(class="sidebar-nav")
          li
            a(href="#") Player List
            
      div(id="page-content-wrapper")
        nav(class="navbar navbar-default")
          div(class="container-fluid")
            div(class="navbar-header")
              button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
              a(class="navbar-brand" href="#" id="menu-toggle") inXile

            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
              ul(class="nav navbar-nav")
                li(class=(title === 'Register' ? 'active' : ''))
                  a(href="/register") Register
                li(class=(title === 'Login' ? 'active' : ''))
                  a(href="/Login") Login
                li(class=(title === 'Home' ? 'active' : ''))
                  a(href="/") Info
                li(class=(title === 'inXile' ? 'active' : ''))
                  a(href="/game") Play
              form(class="navbar-form navbar-right" role="search")
                div(class="form-group")
                  input(type="text" class="form-control" placeholder="Search Player")
                button(type="submit" class="btn btn-default") Submit
      
            block content
            block info

    script(src="https://code.jquery.com/jquery-1.12.0.min.js")
    script(src="https://code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script.
      $("#menu-toggle").click(function(e){
        e.preventDefault();

        $("#wrapper").toggleClass("menuDisplayed");
      });
